*.class
*.sem
*.jar
/output/
.metadata
*/reports/*
deployment
.syncEntries
derby.log

## For local doc generate files
docs/.cache
docs/node_modules
docs/public

## For emacs and ms leftovers
~$*
*~
.#*
\#*



